<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns="http://www.nlog-project.org/schemas/NLog.xsd">
    <targets>
        <target name="debugger" xsi:type="Debugger"
                layout="${time}|${level:uppercase=true}|${callsite:includeNamespace=false}|${message}"/>
    </targets>
    <rules>

        <!--
        Log levels (lower - higher):    
        Trace, Debug, Info, Warn, Error, Fatal
        -->

        <logger name="*" minlevel="Trace" writeTo="debugger"/>
    </rules>
</nlog>
